<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>questionText</key>
			<string>vilket är ett fatasidjur?</string>
			<key>a1</key>
			<string>noshörning</string>
			<key>a2</key>
			<string>katt</string>
			<key>a3</key>
			<string>enhörning</string>
			<key>a4</key>
			<string>hund</string>
			<key>correctAnswer</key>
			<string>katt</string>
		</dict>
		<dict>
			<key>questionText</key>
			<string>vilken är ingen färg?</string>
			<key>a1</key>
			<string>röd</string>
			<key>a2</key>
			<string>blå</string>
			<key>a3</key>
			<string>gul</string>
			<key>a4</key>
			<string>huy</string>
			<key>correctAnswer</key>
			<string>huy</string>
		</dict>
		<dict>
			<key>questionText</key>
			<string>Vad heter han?</string>
			<key>a1</key>
			<string>lars</string>
			<key>a2</key>
			<string>pippi</string>
			<key>a3</key>
			<string>pappa</string>
			<key>a4</key>
			<string>robert</string>
			<key>correctAnswer</key>
			<string>robert</string>
		</dict>
		<dict>
			<key>questionText</key>
			<string>vilken stad bor jag i?</string>
			<key>a1</key>
			<string>Göteborg</string>
			<key>a2</key>
			<string>Stockholm</string>
			<key>a3</key>
			<string>Malmö</string>
			<key>a4</key>
			<string>Lund</string>
			<key>correctAnswer</key>
			<string>Göteborg</string>
		</dict>
	</array>
</dict>
</plist>
